@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
a {
  text-decoration: none;
  color: inherit;
}
.App {
  min-height: 100vh;
  color: #121212 ;
  background: #f7f7f7;
  transition: 0.5s;
}
.App.dark{
  background: #121212 ;
  color: #f7f7f7;
}
